<div class="row">
    <div class="col-1">
        <img class="mr-3" src="https://www.ibts.org/wp-content/uploads/2017/08/iStock-476085198.jpg" alt="Generic placeholder image" style="width:50px">
    </div>
    <div class="col-10">
        <h5 class="mt-0">
            <a href="<%= post.User._id%>">
                <%= post.User.username%>
            </a>
        </h5>
        <p>
            <%= post.description%>
        </p>
        <!-- <%- include ('../../partials/sketchfab') %> -->
        <% if (post.content_image) { %>
            <embed type="image/jpg" src="<%= post.content_image %>" width="420" height="315">
            <% } %>

                <% if (post.content_video) { %>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= post.content_video %>">
        </iframe>
                    <% } %>

                        <% if (post.content_3D) { %>
                            <iframe width="420" height="315" src="https://sketchfab.com/models/<%= post.content_3D %>/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr"
                                mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>
                            <% } %>

                                <div class="row">
                                    <form action="/showcases/<%= post._id%>/like" method="POST">
                                        <button type="submit">Like</button>
                                    </form>

                                    <span id="likes-count-<%= post.id %>"><%= post.likes.length %></span>


                                    <% if (currentUser.id !== post.User.id) { %>
                                        <form action="/showcases/<%= post._id%>/follow" method="POST">
                                            <button type="submit">Follow</button>
                                        </form>
                                        <% } %>

                                </div>

    </div>
</div>