<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <div class="container" style="padding-bottom: 200px">
            <!-- Row 1 - Head Nav -->
            <div class="row">
                <div class="col" style="padding: 55px;">
                    <%- include ('partials/head-nav') %>
                </div>
            </div>
            <!-- Row 2 - Body  -->
            <div class="row">
                <!-- Sidebar -->
                <div class="col-3" style="margin: 0px 0px 0px 0px;">
                    <%- include ('partials/sidebar') %>
                </div>
                <!-- Main Content (Post/User Posts) -->
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <%- include ('partials/User/user-post') %>
                        </div>
                    </div>
                    <!-- User posts-->
                    <% eachPost.forEach((post) => { %>

                        <%- include ('partials/User/user-show-posts', {post: post}) %>
                            <% }) %>
                </div>
                <!-- Followers  -->
                <div class="col left-border" style="margin: 0px 0px 0px 25px;">

                    <%- include ('partials/following') %>

                </div>
            </div>
            <!-- Row 3 - Footer Trending -->
            <div class="d-flex justify-content-center">
                <footer>© 2020 ShowCases, Inc.</footer>
            </div>
        </div>
        <div class="row" style="padding: 0px 0xp 0px 0px;">
            <%- include ('partials/trending') %>
        </div>
    </body>

    <!-- Modal -->
    <%- include ('partials/modals/new-post') %>



</html>