<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <div class="container">

            <!-- Row 1 - Head Nav -->
            <div class="row">
                <div class="col" style="padding: 55px;">
                    <%- include ('partials/head-nav') %>
                </div>
            </div>

            <!-- Row 2 - Body  -->
            <div class="row">
                <!-- Sidebar -->
                <div class="col-3" style="margin: 0px 0px 0px 0px;">
                    <%- include ('partials/sidebar') %>
                </div>

                <!-- Main Content (Post/User Posts) -->
                <div class="col-6">
                    <div class="row">
                        <p>
                            <mark class="text-gradient">User:</mark>
                            <%= foundUser.username %>
                            <br> <mark class="text-gradient">First Name:</mark>
                            <%= foundUser.firstName %>

                            <br> <mark class="text-gradient">Last Name:</mark>
                            <%= foundUser.lastName %>

                            <br> <mark class="text-gradient">Email Address:</mark>
                            <%= foundUser.email %>

                            <br> <mark class="text-gradient">Joined Date:</mark>
                            <%= foundUser.createdAt.toISOString().split('T')[0] %>
                        </p>
                    </div>

                    <!-- Edit/Show User Gallery option-->
                    <div class="bottom-border" style="padding-bottom: 10px;">
                        <% if (currentUser.id == foundUser.id) { %>
                            <%- include ('partials/User/edit-profile.ejs') %>
                        <% } else { %>
                            <a href="/user/<%= foundUser._id %>/gallery"><button class="bttn-minimal bttn-sm bttn-default bttn-no-outline">User Gallery</button></a>           
                        <% } %>
                    </div>

                    <!-- User posts-->
                    <div>
                        <% eachPost.forEach((post) => { %>
                            <%- include ('partials/User/user-show-posts', {post: post}) %>
                        <% }) %>
                    </div>
                </div>
                <!-- Followers  -->
                <div class="col left-border" style="margin: 0px 0px 0px 25px;">
                    <%- include ('partials/following', {currentUser: foundUser}) %>
                </div>
            </div>

            <!-- Modal -->
            <%- include ('partials/modals/new-post') %>
            
    </body>

</html>