<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <div class="container">
            <div class="row">
                <div class="col" style="padding: 35px;">
                    <%- include ('partials/head-nav') %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin: 0px 25px 0px 0px;">
                    <%- include ('partials/sidebar') %>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <p>
                            User:
                            <%= foundUser.username %>
                                <br> First Name:
                                <%= foundUser.firstName %>

                                    <br> Last Name:
                                    <%= foundUser.lastName %>

                                        <br> Email Address:
                                        <%= foundUser.email %>

                                            <br> Joined Date:
                                            <%= foundUser.createdAt %>
                        </p>
                    </div>
                    <% console.log(currentUser.id == foundUser.id) %>
                        <% if (currentUser.id == foundUser.id) { %>
                            <hr/>
                            <%- include ('partials/User/edit-profile.ejs') %>
                                <% } %>
                                    <hr/>
                </div>
                <!-- User posts-->

            </div>
        </div>
        </div>
    </body>

</html>>
<!-- User posts-->

</div>
</div>
</div>
</body>

</html>>

</html>>