<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <div class="container">
            <div class="row">
                <div class="col" style="padding: 35px;">
                    <%- include ('partials/head-nav') %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin: 0px 25px 0px 0px;">
                    <%- include ('partials/sidebar') %>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <p>
                            User:
                            <%= foundUser.username %>
                                <br> First Name:
                                <%= foundUser.firstName %>

                                    <br> Last Name:
                                    <%= foundUser.lastName %>

                                        <br> Email Address:
                                        <%= foundUser.email %>

                                            <br> Joined Date:
                                            <%= foundUser.createdAt %>
                        </p>
                    </div>

                    <% if (currentUser.id == foundUser.id) { %>
                        <%- include ('partials/User/edit-profile.ejs') %>
                            <% } %>
                                <hr/>
                                <% eachPost.forEach((post) => { %>
                                    <div class="row">

                                        <%- include ('partials/User/user-show-posts', {post: post}) %>
                                    </div>
                                    <% }) %>
                </div>
                <!-- User posts-->
            </div>
        </div>
    </body>

</html>