<% if (trendingPosts[index]) { %>

<div class="col-3">
    <div class="card-box">
        <div class="row">
            <div class="col float-left">
                <p style="font-size: 12px;">By:
                    <%=trendingPosts[index].User.username %>
                </p>
            </div>
            <div class="col float-right">
                <span><%=trendingPosts[index].likes.length %> <i class="fa fa-thumbs-o-up"></i></span>
            </div>
        </div>
        <div class="row">
            <% if (trendingPosts[index].content_image) { %>
                <div class="md-thumbnail img-scale" style="background-image: url('<%=trendingPosts[index].content_image %>')"></div>
            <% } else if (trendingPosts[index].content_video) { %>
                <div class="md-thumbnail img-scale">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= trendingPosts[index].content_video %>"></iframe>
                </div>
            <% } else if (trendingPosts[index].content_3D) { %>
                <div class="md-thumbnail img-scale">
                    <iframe width="100%" height="100%" src="https://sketchfab.com/models/<%= trendingPosts[index].content_3D %>/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0"
                        allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            <% } else { %>
                <div class="col">
                    well, have no images here
                </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>